# Frontend (SvelteKit)
PUBLIC_API_URL=http://ocr-lab-server:3001
BODY_SIZE_LIMIT=Infinity
ORIGIN=http://REPLACE_WITH_YOUR_IP:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://REPLACE_WITH_YOUR_IP:3000
